{
  "extends": "standard",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "globals": {
    "document": false,
    "escape": false,
    "navigator": false,
    "unescape": false,
    "window": false,
    "describe": true,
    "before": true,
    "after": true,
    "beforeEach": true,
    "afterEach": true,
    "it": true,
    "expect": true,
    "sinon": true
  },
  "parser": "babel-eslint",
  "rules": {
    "arrow-parens": 2,
    "padded-blocks": 0,
    "prefer-arrow-callback": 0,
    "no-use-before-define": 0,
    "no-var": 2,
    "quote-props": [2, "as-needed"]
  }
}
